.nav-parent{
   
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.img{
    height:50px;
   border-radius: 50%;
}

/* onMouse hover events for routes */
.nav-childs:hover{
    color: rgb(30, 255, 0);
    padding: 0px;
}
