.form{
    margin: auto;
    border: 2px solid black;
    background-color: black;
}
.add{
    display: flex;
    justify-content: space-around;
}
.scroll{
    overflow-y: auto; /* This will add a vertical scrollbar if the content overflows */
    max-height: 100px;
}