
.btnn{
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
}

.card{
  min-height:100px;
  box-shadow: 2px 2px 2px rgb(48, 48, 186);
}
.card:hover{
    box-shadow: 1px 1px 1px  rgb(223, 216, 17);
    margin-top:2px;
}
.parent{
  background-color: rgba(188, 180, 180, 0.285);
  min-height: 500px;
}
.child{
 min-height: 500px;
}